body {
	margin: 0;
	font-family: Georgia;
	font-size: .75em;
	background: -moz-linear-gradient(right, #E5EADE, #F8F9F5, #FFFFFF);
}
#container {
	width: 920px;
	margin:0 auto;
}
#content {
	margin: 0 auto;
}
#content_wrapper {
	height: 100%;
	width: 100%;
}
#sidebar {
	width: 200px;
}
#page {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 68%;
}
#left_navbar {
	float: left;
	height: 100%;
}
#selection_control_wrapper {
	background-color: #DFE2E6;
	height: 305px;
}
.select_label {
	padding-left: 15px;
	text-align: center;
	color: #00224C;
	font-family: Arial;
	font-weight: bold;
	font-size: 1em;
	margin: 0;
}
#month_year_container {
	float: left;
}
#year_option {
	float: left;
	margin-left: 22px;
	margin-top: 2px;
	font-size: 1em;
}
/*----------------------------------------*/
/* Month box style rules                  */
/*----------------------------------------*/
#month_control_wrapper {
	padding-top: 8px;
	padding-top: 20px;
	margin-top: 20px;
	clear: both;
	margin-left: 22px;
	padding: 0;
	width: 223px;
}
.month_box {
	float: left;
	padding: 8px 0px 2px 0px;
	height: 19px;
	width: 55px;
	/*background-color: #00224C;*/
	/*color: #556C88;*/
	background-color: #2D2D4D;
	color: #989AA9;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: .8em;
}
.month_box_not_available {
	background-color: #2D2D4D;
	color: #989AA9;
}
.month_box_available {
	background-color: #ADBD90;
	color: #00224C;
}	
#jan, #feb, #mar, #jun, #jul{
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#apr, #aug {
	border-bottom: 1px solid #FFFFFF;
}
#oct, #nov {
	border-right: 1px solid #FFFFFF;
}
#may {
	clear: both;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#sep {
	clear: both;
	border-right: 1px solid #FFFFFF;
}
#result {
	float: left;
	color: #7A7A94;
	width: 100%;
	padding-top: 0;
}
#newspaper_info {
	margin: 0;
}
#bib_id_display {
	font-family: Arial;
	font-weight: bold;
	background-color: #2D2D4D;
	color: #FFFFFF;
	padding: 10px 0 10px 21px;
	line-height: 1.4em;
	height: 21px;
}
#issue_info_display {
	border: 1px solid #85887F;
	background-color: #FFFFFF;
	height: 238px;
	padding-top: 10px;
	padding-left: 20px;
	font-family: Arial;
	line-height: 1.4em;
	color: #00224C;
}
.issue_info_label {
	font-weight: bold;
}
.bottom_border {
	padding-left: 10px;
	border-bottom: 1px solid #958F5C;
}
/*----------------------------*/
/* Trove timeline style rules */
/*----------------------------*/
.timeline {
	background-color: #DFE2E6;
	float: left;
	margin: auto;
	padding:0em 0em 1.3em 1.7em;
}
.timeline li {
	float:left;
	height:4em;
	list-style-type:none;
	margin:0 0 0 0;
	position:relative;
	width:4em;
}
.timeline li li {
	height:3em;
	position:absolute;
	top:0;
	width:10%;
}
.timeline li a {
	display:block;
	height:100%;
	width:100%;
	text-decoration: none;
}
.timeline .label {
	bottom: 1em;
	border:1px solid #CCC;
	border-width:1px 1px 0 0;
	display:block;
	height:1em;
	left:0;
	position:absolute;
	text-align:center;
	width:100%;
}
.timeline li a .count {
	height: 3em;
	background-color: #4E4F7F;
	bottom: 6px;
	display:block; 
	overflow:hidden; 
	position:absolute; 
	width:100%;
	color: #4E4F7F;
}
.timeline .label a { 
	color: #4E4F7F;
}
.timeline .y0 { left:0%;  font-size: 8px; }
.timeline .y1 { left:10%; font-size: 8px; }
.timeline .y2 { left:20%; font-size: 8px; }
.timeline .y3 { left:30%; font-size: 8px; }
.timeline .y4 { left:40%; font-size: 8px; }
.timeline .y5 { left:50%; font-size: 8px; }
.timeline .y6 { left:60%; font-size: 8px; }
.timeline .y7 { left:70%; font-size: 8px; }
.timeline .y8 { left:80%; font-size: 8px; }
.timeline .y9 { left:90%; font-size: 8px; }

/* jQuery UI Datepicker plugin style rules*/
/*----------------------------------------*/
#datepicker_container {
	float: left;
	padding-bottom: 13px;
	font-size: 1em;
	width: 53%;
}
.publication_date {
	background-color: #ADBD90;
	color: #00224C;
}
.publication_date a{
	background-color: #ADBD90;
	color: #00224C;
	font-weight: bold;
}
.not_publication_date span{
	color: #00224C;
}
span .ui-state-default { 
  font-weight: regular; 
  color: #FFFFFF;
}
.ui-datepicker-inline {
	clear: both;
	color: #556C88;
}
.ui-icon {
	/*Hides built-in 'previous' and 'next' icons*/
	float: left;
	visibility: hidden;
}
.ui-datepicker-title {
	/*Contains built-in month and year selection controls*/
	background-color: #4E4F7F;
	color: #DFE2E6;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
	text-transform: uppercase;
	margin-left: 52px;
	padding-top: 1px;
	padding-right: 25px;
	padding-left: 21px;
	height: 18px;
	width: 233px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}
.ui-datepicker-month {
	margin: 0;
	padding: 0;
}
.ui-datepicker-year {
	margin: 0;
	padding: 0;
}
.ui-datepicker-calendar {
	float: left;
	background-color: #FFFFFF;
}
.ui-datepicker  table{
	border-collapse: collapse;
	font-family: Arial;
	width: 85%;
	margin-left: 52px;
}
.ui-datepicker th {
	border: 1px solid #000000;
	color: #DFE2E6;
	background-color: #4E4F7F;
	width: 20px;
}
.ui-datepicker  td {
	border: 1px solid #000000;
	text-align: center;
	color: #00224C;
}
.ui-datepicker  a:link, a:visited{
}
.ui-datepicker  a:hover{
}
.ui-datepicker  a:active{
}
.ui-datepicker-current-day{
}
/* Style rules for other jQuery UI widgets
-------------------------------------------*/
.ui-autocomplete { 
	position: absolute; cursor: default; 
}
.ui-menu {
	list-style:none;
	padding: 1px;
	margin: 0;
	display:block;
	float: left;
	background-color: #FFF;
	border: 1px solid #D6CCC0;
}
.ui-menu .ui-menu {
	margin-top: -3px;

}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
	font-size: .8em;
	color: #37375E;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
//.ui-autocomplete-loading { background: white url('autocomplete_loader.gif') right center no-repeat; }